<div class='container'>
   <div class='card mb-3'>
      <img src='...' class='card-img-top' alt='...' />
      <div class='card-body'>
         <h5 class='card-title'>{{product.name}}</h5>
         <p class='card-text'>{{product.description}}</p>
         <p class='card-text'><small class='text-muted'>{{created_at}}</small></p>
         <a href='/products/{{id}}' class='btn btn-primary'>Add to Cart</a>
      </div>
   </div>
</div>